[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
streamlit = "*"
langchain = "*"
cohere = "*"
openai = "*"
tiktoken = "*"
faiss-cpu = "*"
nemoguardrails = "*"
flask = "*"
langchain-openai = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
